<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="image-overlay" *ngIf="showImages">
  <div class="image-container">
    <button class="close-btn" (click)="closeImages()">✖</button>
    <img *ngFor="let img of images" [src]="img" alt="Banner">
  </div>
</div>
<div *ngIf="!showImages">
<div class="banner">
  <img src="\assets\Banner.jpg">
</div>
<div class="navbar">
  <a class="button"  routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
  <!-- <a class="button"  routerLink="/about"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">About</a> -->
  <a class="button"  routerLink="/c"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Committee</a>
  <!-- <div class="subnav">
    <button class="subnavbtn">Diseases <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a >కామెర్లు</a> 
      <a >సాధారణ వ్యాధులు</a> 
      <a>కీళ్ల వాతం</a> 
      <a>శల్య వైద్యం</a>
      <a>విషపు కాటు</a>
      <a>ప్రసూతి వైద్యం</a>
    </div>
  </div> -->
  
  <a class="button"  routerLink="/v"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">వైద్యులు</a>
  <a class="button"  routerLink="/reg"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Registrations</a>
</div>
</div>
 <router-outlet></router-outlet>





