<div class="h">
    <br>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <div class="container">
        <div class="logo">
            <img  src="assets/logo.jpg">
        </div><br>
        <div class="e">
            <h1>Events</h1>
            <ul>
                <li>Welcome</li>
                <li>
                    Paaramparya Vaidya Maha Sangham<br> 
                    15<sup>th</sup>Anniversary Celebrations to be held on 4-5<sup>th</sup> March &#x40;Youth Hostel,Tirupati.
                </li>
                
            </ul>
        </div>
    </div>
    <div class="slider-container">
        <h2 style="text-align: center;">Photos</h2>
        <div class="slider-images">
            <img src="assets/im1.png">
            <img src="assets/i1.jpg">
            <img src="assets/i6.png">
            <img src="assets/i2.jpg">
            <img src="assets/i3.jpg">
            <img src="assets/i4.jpg">

        </div>
    </div>
    
</div>
    

   


